.popup__input {
  width: 358px;
  padding: 0 0 13px 0;
  border: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 880px) {
  .popup__input {
    width: 238px;
  }
}
