.popup__button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 18px auto 37px;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 880px) {
  .popup__button {
    font-size: 14px;
    width: 238px;
    height: 46px;
    margin: 15px auto 25px;
  }
}
