.popup__close-button {
  margin: 0;
  background-image: url('../../../images/close-button.svg');
  width: 32px;
  height: 32px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
